<!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
        <table style="text-align: center">
          <tr *ngFor="let entry of items">
              <td>{{ entry }}</td>
              <td>
                  <input type="radio" name="radiogroup" 
                      [checked]="idx === 0" 
                      [value]="entry.id"
                      (click)="productSelected(entry)"> 
              </td>
              <td>
                  <div>{{ getProductPrice(entry) }}</div>
              </td>
          </tr>
        </table>
        <br>
        <button>Refresh Products</button>
  <br>
  <br>
  <label>Balance: {{getBalance()}}</label>
  <br>
  <label>Total Paid: {{getTotalPaid()}}</label>
  <br>
  <label>Change: {{getChange()}}</label>
  <br>
  <br>
  <table style="text-align: center">
      <tr *ngFor="let entry of coins">
          <td><button (click)="coinInserted(entry)">{{ entry }}</button></td>
      </tr>
    </table>
    <br>
    <button>Refresh Coins</button>
    <br>
    <br>
    <button *ngIf="serverResult">{{serverRes}}</button>
    <br>
    <br>  
    <button (click)="postProduct()">Collect Product & Change</button>
 
