<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-12">
  <div class="row">
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 text-center">
          <tr *ngFor="let entry of items">
              <td>{{ entry }}</td>
              <td>
                  <input type="radio" name="radiogroup" 
                      [checked]="idx === 0" 
                      [value]="entry.id">
              </td>
          </tr>
      </div>
      <div class="col-md-6"></div>

  </div>
</div>